body {
  background-color: #bdddff;
  font-family: 'Times New Roman, Times, serif';
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  scroll-behavior: smooth;
  margin: "20px 20px";

}

.row {
  display: block;
  width: auto;
  margin-right: -15px;
  margin-left: -15px;
}

.row::before {
  content: "";
  display: table;
}
.row::after {
  display: table;
  content: "";
}
#row1 {
  position: relative;
  top: -1px;
}

.inputs {
  padding: 3px 5px 3px 5px;
  display: inline-block;
  border-radius: 3px;
  /* font-size: 2.2em; */
  /* margin: -7px; */
  line-height: 1.6em;
}

.correct {
  color: green;
}
.wrong {
  color: red;
  /*text-decoration:line-through;*/
}
#inputstream {
  display: none;
}

.highlight-wrong {
  background: red;
}
.highlight {
  background: #dddddd;
  color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#words {
  padding: 6px 12px 30px 12px;
  margin-top: 0px;
  margin-bottom: 10px;
  height: 80px;
  overflow: hidden;
  color: #1d4851;
  font-size: 2.2em;
  line-height: 1.6em;
  font-family: Times New Roman, Times, serif;
  background: #ffffff;
  border: 1px solid #8eb6d8;
  border-radius: 4px;
  user-select: none;
}

#result {
  width: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman, Times, serif';
  /* margin: 10% 40%;
  padding: 15px 10px; */
  /* background-color: white; */
}
button {
  font-weight: bold;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Times New Roman, Times, serif';
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footercontent {
  color: black;
  font-weight: bold;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: "50px 50px";
  padding: "50px 50px";
}
.insideContainer{
  width : 60%

}